modules = ["nodejs-20", "php-8.2", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ShopWave Laravel"

[[workflows.workflow]]
name = "ShopWave Laravel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/shop && php artisan serve --host=0.0.0.0 --port=3000"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
APP_DEBUG = "true"
APP_ENV = "local"
APP_KEY = "base64:cqXbqdk3G5N82Nam7SgWX2fhMnHgfB53YfjHH9H17XI="
APP_NAME = "ShopWave"
APP_URL = "http://localhost"
CACHE_STORE = "file"
DB_CONNECTION = "pgsql"
DB_DATABASE = "neondb"
FILESYSTEM_DISK = "local"
MAIL_FROM_ADDRESS = "noreply@shopwave.com"
MAIL_FROM_NAME = "ShopWave"
MAIL_MAILER = "log"
QUEUE_CONNECTION = "sync"
SESSION_DRIVER = "file"
SESSION_LIFETIME = "120"
DB_HOST = "ep-winter-band-avjlxf1r.c-11.us-east-1.aws.neon.tech"
DB_PORT = "5432"
DB_SSLMODE = "require"
DB_USERNAME = "neondb_owner"
SHOP_APP_DEBUG = "true"
SHOP_APP_ENV = "local"
SHOP_APP_NAME = "ShopWave"
SHOP_LOG_LEVEL = "debug"

[nix]
channel = "stable-25_05"
